aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
binance==0.3
boto3==1.20.26
botocore==1.23.26
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.1
colorama==0.4.4
dateparser==1.1.0
Flask==2.0.1
gunicorn==20.1.0
Jinja2==3.0.1
jmespath==0.10.0
python-binance==1.0.15
python-dateutil==2.8.2
requests==2.27.1
s3transfer==0.5.0
six==1.16.0
ujson==5.1.0
urllib3==1.26.7
Werkzeug==2.0.1